$base-color-1: #05042c;
$base-color-2: #0abfd2;

.scroll-to-top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $base-color-1;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: $base-color-2;
    }
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 1);
        transform: scale(1.05);
        cursor: pointer;
    }
}

@keyframes show {
    0% {
        right: 30px;
        bottom: -65px;
    }
    100% {
        right: 30px;
        bottom: 30px;
    }
}

@keyframes hide {
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
